<div class="responsive-section mobile-text-first" appScrollSpy="{{SECTIONS.DIGITALIZATION}}">
  <div class="text-content">
    <div class="gradient-text width-100-pct text-align-center">Digitalization of Exhibitions</div>
    <h1>
      How is it working ?
    </h1>
    <p>
      We transform exhibitions into engaging digital
      experiences by capturing the physical space
      and enhancing it with interactive, gamified
      elements. Working with artists and curators, we
      create personalized tours, quests, and missions
      that bring exhibits to life for younger audiences.
      This process provides a digital copy of each
      exhibition, allowing for ongoing access, wider
      sharing, and lasting value.
    </p>
  </div>
  <div class="image-content">
    <img
      src="assets/animations/stadt_land_energie.gif"
      alt="Cover Image">
  </div>
</div>
