<div class="page-padding height-100-vh">
  <div class="space-between-horizontal-centered width-70-90-pct">
    <div class="width-45-pct flex-end">
      <img
        class="image-container"
        src="https://64.media.tumblr.com/88b5ed3782b6193bb3a94c03218ffc84/4cf49e88f83a9cd5-cd/s500x750/2b58f8f4ee5a9d028b1e0285b3275055bc9c1de4.gifv"
        alt="about-img">
    </div>
    <div class="vertical-container-simple column-gap-1 width-40-pct" xmlns="http://www.w3.org/1999/html">
      <span class="font-size-2p5">Who we are</span>
      <span class="font-size-1p25">
      We are dohya kakie mododtsy prosto pizdez give us some money and praise we deserve.
    </span>
      <span class="font-size-1p25">Everybody thank you.</span>
    </div>
  </div>
</div>
