<div class="responsive-section height-100-pct" appScrollSpy="{{SECTIONS.ABOUT}}">
  <div class="about-section">
    <div class="text-align-center">
      <h1 class="text-align-center">Our mission</h1>
      <p class="pd-2">
        We are a dynamic team of innovators and creatives dedicated to transforming the world of exhibitions and educational materials through digitalization. Our passion lies in merging cutting-edge technology with immersive design to create engaging digital experiences that bring exhibitions and educational resources to life for diverse audiences.
      </p>
    </div>

    <!-- Meet the Team Section -->
    <div class="team-section">
      <!-- Team Member Card -->
      <div class="team-member-card" *ngFor="let member of teamMembers">
        <img [src]="'assets/samtsy/' + member.photo" [alt]="member.name" class="member-photo" />
        <div class="member-details">
          <h3 class="member-name">{{ member.name }}</h3>
          <p class="member-position">{{ member.position }}</p>
          <p class="member-description">{{ member.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
