<div class="responsive-section" appScrollSpy="{{SECTIONS.ABOUT}}">
  <div class="image-content">
    <img
      src="https://64.media.tumblr.com/88b5ed3782b6193bb3a94c03218ffc84/4cf49e88f83a9cd5-cd/s500x750/2b58f8f4ee5a9d028b1e0285b3275055bc9c1de4.gifv"
      alt="About Image">
  </div>
  <div class="text-content">
    <h1>Who We Are</h1>
    <p>
      We are dohya kakie mododtsy prosto pizdez give us some money and praise we deserve.
    </p>
    <p>
      Everybody thank you.
    </p>
  </div>
</div>
