@media (min-width: 768px) {
  .partners-title {
    margin-left: 1.3rem;
  }
}

.responsive-section {
  height: 40vh
}

.partners-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  width: 100%;
}

.partners-container img {
  flex-grow: 1;
  width: 15%;
}

@media (max-width: 768px) {
  .partners-container img {
    display: none;
    width: 80%;
  }
  .partners-container img.active {
    display: block;
  }
}
