<div class="space-between-horizontal">
  <div class="vertical-container-simple column-gap-1 width-40-pct">
    <span class="font-size-2p5">Contact Us</span>
    <span class="font-size-1p25">
      If you’re interested in collaborating, please provide your information, and we will contact you soon.
      We look forward to connecting with you.
    </span>
    <app-contact-form></app-contact-form>
  </div>
  <img src="assets/contact_placeholder.png" alt="contact us" class="width-40-pct">
</div>ww
