/* You can add global styles to this file, and also import other style files */
@import "center";
@import "color-variables";
@import "colors";
@import "container-gaps";
@import "fonts";
@import "height";
@import "padding";
@import "position";
@import "width";
@import "z-index";
@import "@fontsource/space-grotesk";

.clickable {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: "Space Grotesk";
}

.responsive-section {
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  align-items: center;
  padding: 2rem 1rem;
  height: 80vh;

  @media (min-width: 768px) {
    flex-direction: row;
    padding: 4rem 7.8125rem;
  }
}

.responsive-section .text-content,
.responsive-section .image-content {
  flex: 1;
  margin: 1rem 0;
}

.responsive-section .text-content {
  @media (max-width: 768px) {
    order: 2; /* Text below image on mobile */
  }
}

.responsive-section .image-content {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Remove flex: 1 */
  /* Add width settings */
  width: 100%;
  @media (max-width: 768px) {
    order: 1; /* Text below image on mobile */
  }
}

.responsive-section img {
  border-radius: 0.5rem;
  max-width: 100%;
  height: auto;
  object-fit: contain; /* Ensures the image maintains aspect ratio */
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
    font-size: 2.5rem;
  }
}

p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
    font-size: 1.125rem;
  }
}
