.flex-1 {
  flex: 1;
}

.space-between-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.space-between-horizontal-centered {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.centered-column-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.align-items-center {
  align-items: center !important;
}

.aligned-row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.space-evenly-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.centered-vertically-column-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.start-row-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.vertical-container-simple {
  display: flex;
  flex-direction: column;
}

.text-align-center {
  text-align: center;
}
