$primary-color: #3a3a3a; // Темный цвет для текста и иконок
$secondary-color: #d9d9d9; // Светлый серый для фона
$accent-color: #008000; // Зеленый для кнопок

// Для текста
$text-primary: $primary-color;
$text_secondary: $secondary-color;

// Для фона
$background-global: #f4f2f6;
$background-primary: #f7f7f7; // Цвет для основной части страницы
$background-secondary: #ffffff; // Белый для элементов
