.row-gap-0p1 {
  column-gap: 0.1rem;
}

.row-gap-0p15 {
  column-gap: 0.15rem;
}

.row-gap-0p25 {
  column-gap: 0.25rem;
}

.row-gap-0p3125 {
  column-gap: 0.3125rem;
}

.row-gap-0p15 {
  column-gap: 0.15rem;
}

.row-gap-0p375 {
  column-gap: 0.375rem;
}

.row-gap-0p5 {
  column-gap: 0.5rem;
}

.row-gap-0p625 {
  column-gap: 0.625rem;
}

.row-gap-0p75 {
  column-gap: 0.75rem;
}

.row-gap-0p78125 {
  column-gap: 0.78125rem;
}

.row-gap-0p9375 {
  column-gap: 0.9375rem;
}

.row-gap-1 {
  column-gap: 1rem;
}

.row-gap-1p25 {
  column-gap: 1.25rem;
}

.row-gap-1p5 {
  column-gap: 1.5rem;
}

.row-gap-1p875 {
  column-gap: 1.875rem;
}

.row-gap-2 {
  column-gap: 2rem;
}

.row-gap-3 {
  column-gap: 3rem;
}

.row-gap-5 {
  column-gap: 5rem;
}

.row-gap-10 {
  column-gap: 10rem;
}

.row-gap-16 {
  column-gap: 16rem;
}

.row-gap-19 {
  column-gap: 19rem;
}

.column-gap-0p15625 {
  row-gap: 0.15625rem;
}

.column-gap-0p25 {
  row-gap: 0.25rem;
}

.column-gap-0p3125 {
  row-gap: 0.3125rem;
}

.column-gap-0p46875 {
  row-gap: 0.46875rem;
}

.column-gap-0p5 {
  row-gap: 0.5rem;
}

.column-gap-0p625 {
  row-gap: 0.625rem;
}

.column-gap-0p75 {
  row-gap: 0.75rem;
}

.column-gap-1 {
  row-gap: 1rem;
}

.column-gap-1p25 {
  row-gap: 1.25rem;
}

.column-gap-1p5 {
  row-gap: 1.5rem;
}

.column-gap-1p5625 {
  row-gap: 1.5625rem;
}

.column-gap-2 {
  row-gap: 2rem;
}

.column-gap-2p25{
  row-gap: 2.25rem;
}

.column-gap-2p5{
  row-gap: 2.5rem;
}

//================================GAPS ROW AND COLUMN========================================//

.gap-1-1 {
  gap: 1rem 1rem;
}

.gap-1p25 {
  gap: 1.25rem;
}

//================================GAPS-EM========================================//

.row-gap-0p5em {
  column-gap: 0.5em;
}

.row-gap-2em {
  column-gap: 2em;
}

.row-gap-0p2em {
  column-gap: 0.2rem;
}

.row-gap-0p3125em {
  column-gap: 0.3125em;
}

.column-gap-0p3125em {
  row-gap: 0.3125em;
}

.column-gap-0p625em {
  row-gap: 0.625em;
}

.column-gap-0p75em {
  row-gap: 0.75em;
}

.column-gap-1em {
  row-gap: 1em;
}

.column-gap-1p25em {
  row-gap: 1.25em;
}

.column-gap-1p5625em {
  row-gap: 1.5625em;
}

.column-gap-1p875em {
  row-gap: 1.875em;
}

.column-gap-2p5em {
  row-gap: 2.5em;
}




