.opacity-0 {
  opacity: 0;
}

.opacity-0p25 {
  opacity: 0.25;
}

.opacity-0p3 {
  opacity: 0.3;
}

.opacity-0p4 {
  opacity: 0.4;
}

.opacity-0p5 {
  opacity: 0.5;
}

.opacity-0p64 {
  opacity: 0.64;
}

.opacity-0p72 {
  opacity: 0.72;
}

.opacity-0p8 {
  opacity: 0.8;
}

.opacity-0p9 {
  opacity: 0.9;
}

.opacity-1 {
  opacity: 1
}
