.pd-0p5 {
  padding: 0.5rem;
}

.pd-1 {
  padding: 1rem;
}

.pd-1p5 {
  padding: 1.5rem;
}

.pd-2 {
  padding: 2rem;
}

.pd-3 {
  padding: 3rem;
}

.pd-borders-0p5 {
  padding: 0 0.5rem;
}

.pd-borders-1 {
  padding: 0 1rem;
}

.pd-borders-1p5 {
  padding: 0 1.5rem;
}

.pd-borders-2 {
  padding: 0 2rem;
}

.pd-top-bottom-0p5 {
  padding: 0.5rem 0;
}

.pd-top-bottom-1 {
  padding: 1rem 0;
}

.pd-top-bottom-1p5 {
  padding: 1.5rem 0;
}

.pd-top-bottom-2 {
  padding: 2rem 0;
}

.pd-1-3 {
  padding: 1rem 3rem;
}
