.width-30-pct {
  width: 30%;
}

.width-40-pct {
  width: 40%;
}

.width-45-pct {
  width: 45%;
}

.width-50-pct {
  width: 50%;
}

.width-70-pct {
  width: 70%;
}

@media (max-width: 768px) { /* Adjust this breakpoint as needed */
  .width-responsive {
    width: 90%;
  }
}

.width-80-pct {
  width: 80%;
}

width-90-pct {
  width: 90% !important;
}

.width-100-pct {
  width: 100%;
}
