<div class="nav-header">
  <div class="nav-header-container">
    <div
      [routerLink]="['/']"
      [fragment]="SECTIONS.HOME"
      class="font-size-1p5625 clickable">
      orbX</div>
    <div class="start-row-container row-gap-1 font-size-1p25">
      <div
        [routerLink]="['/']"
        [fragment]="SECTIONS.ABOUT"
        class="nav-link clickable">
        About</div>
      <div
        [routerLink]="['/']"
        [fragment]="SECTIONS.CONTACT"
        class="nav-link clickable">
        Contact</div>
    </div>
  </div>
</div>
