<app-header/>
<div style="padding-top: 5rem">
  <section id="{{SECTIONS.HOME}}">
    <app-home/>
  </section>
  <section id="{{SECTIONS.PARTNERS}}">
    <app-partners/>
  </section>
  <section id="{{SECTIONS.USE_CASES}}">
    <app-use-cases/>
  </section>
  <section id="{{SECTIONS.DIGITALIZATION}}">
    <app-digitalization/>
  </section>
  <section id="{{SECTIONS.METAVERSE}}">
    <app-metaverse/>
  </section>
  <section id="{{SECTIONS.DYNAMIC_LEARNING}}">
    <app-dynamic-learning/>
  </section>
  <section id="{{SECTIONS.ABOUT}}">
    <app-about/>
  </section>
  <section id="{{SECTIONS.CONTACT}}">
    <app-contact-page/>
  </section>
</div>
