<div class="responsive-section height-100-pct" appScrollSpy="{{SECTIONS.PARTNERS}}">
  <div class="width-100-pct centered-vertically-column-container column-gap-2">
    <h1>Use Cases</h1>
    <div class="use-cases-container">
      <div *ngFor="let card of useCasesCards" class="use-case-card">
        <img [src]="'assets/use-cases/' + card.imgName" [alt]="card.title" class="use-case-icon" />
        <h2 class="gradient-text height-6" style="font-size: 2rem" [innerHTML]="card.title"></h2>
        <p class="use-case-description">{{ card.description }}</p>
      </div>
    </div>
  </div>
</div>
