<div class="responsive-section" appScrollSpy="{{SECTIONS.PARTNERS}}">
  <div class="centered-vertically-column-container column-gap-1 width-100-pct">
    <h1>Use cases</h1>
    <div class="space-between-horizontal-centered width-100-pct use-cases-text">
      <span class="width-30-pct gradient-text">Digitalization<br>of exhibitions</span>
      <span class="width-30-pct gradient-text">Metaverse of<br>education and art</span>
      <span class="width-30-pct gradient-text">Dynamic<br>learning</span>
    </div>
  </div>
</div>
