<div class="responsive-section" appScrollSpy="{{SECTIONS.PARTNERS}}">
<!--  <div class="centered-vertically-column-container column-gap-1 width-100-pct">-->
<!--    <h1>Use cases</h1>-->
<!--    <div class="space-between-horizontal-centered width-100-pct use-cases-text">-->
<!--      <span class="width-30-pct gradient-text">Digitalization<br>of exhibitions</span>-->
<!--      <span class="width-30-pct gradient-text">Metaverse of<br>education and art</span>-->
<!--      <span class="width-30-pct gradient-text">Dynamic<br>learning</span>-->
<!--    </div>-->
<!--  </div>-->
  <div class="width-100-pct centered-vertically-column-container column-gap-2">
    <h1>Use Cases</h1>
    <div class="use-cases-container">
      <div *ngFor="let card of useCasesCards" class="use-case-card">
        <img [src]="'assets/use-cases/' + card.imgName" [alt]="card.title" class="use-case-icon" />
        <h2 class="gradient-text height-6" style="font-size: 2rem" [innerHTML]="card.title"></h2>
        <p class="use-case-description">{{ card.description }}</p>
      </div>
    </div>
  </div>
</div>
