<div class="responsive-section mobile-text-first height-100-pct" appScrollSpy="{{SECTIONS.DYNAMIC_LEARNING}}">
  <div class="image-content">
    <img
      src="./assets/animations/dynamic_learning_2.gif"
      alt="Cover Image">
  </div>
  <div class="text-content">
    <div class="gradient-text width-100-pct">Dynamic learning</div>
    <h1 style="text-align: left">
      How is it working ?
    </h1>
    <p>
      We turn complex school topics into engaging,
      interactive games developed with teachers
      to reinforce learning. Students experience
      challenging subjects as fun, pressure-free
      journeys rather than traditional lessons. Our
      immersive approach is regularly updated to
      ensure relevance and sustained interest.
    </p>
  </div>
</div>
