<div class="home-container">
  <section class="hero-section">
    <div class="hero-content">
      <h1 class="hero-title">Innovative Technology Solutions for Tomorrow</h1>
    </div>
  </section>

  <section>
    <div class="width-100-pct centered-vertically-column-container pd-top-bottom-2 column-gap-1">
      <div class="font-size-2p5 text-primary">Contact Us</div>
      <div class="font-size-1p25 text-primary">Interested in working together? Fill out some info and we will be in touch shortly. We can’t wait to hear from you!</div>
      <app-contact-form></app-contact-form>
    </div>
  </section>
</div>
