@import "color-variables";

.image-cover-section {
  height: 30rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url('~src/assets/cover-page-blue-red.png');
  background-size: cover;
  background-position: center;
}
