<div class="page-padding height-100-vh">
  <div class="space-between-horizontal-centered width-70-90-pct">
    <div class="vertical-container-simple column-gap-1 width-45-pct">
      <div class="font-size-2p5">
        Capture your exhibition and empower it with immersive storytelling and gamification.
      </div>
      <div class="font-size-1p40625">
        Capture your exhibition and empower it with immersive storytelling and gamification.
      </div>
    </div>
    <div class="width-45-pct flex-end">
      <img
        class="image-container"
        src="assets/cover-page-blue-red.png"
        alt="cover-img">
    </div>
  </div>
<!--  <section class="image-cover-section width-70-90-pct">-->
<!--    <div class="text-align-center">-->
<!--      <h1 class="bold700 text-secondary font-size-3">Innovative Technology Solutions for Tomorrow</h1>-->
<!--    </div>-->
<!--  </section>-->

<!--  <section class="page-padding">-->
<!--    <div class="width-100-pct centered-vertically-column-container pd-top-bottom-2 column-gap-1">-->
<!--      <div class="font-size-2p5 text-primary">Contact Us</div>-->
<!--      <div class="font-size-1p25 text-primary width-80-pct text-align-center">-->
<!--        Interested in working together?-->
<!--        Fill out some info and we will be in touch shortly.-->
<!--        We can’t wait to hear from you!-->
<!--      </div>-->
<!--      <app-contact-form class="width-80-pct"></app-contact-form>-->
<!--    </div>-->
<!--  </section>-->
</div>
